In [1]:
%load_ext autotime

In [2]:
import sys
#sys.path.append('/Users/pradap/Documents/Research/Python-Package/magellan/')
sys.path.append('/scratch/pradap/python-work/magellan/')

time: 139 ms

In [3]:
import magellan as mg
import pandas as pd

DEBUG - Log file (/u/p/r/pradap/.picloud/cloud.log) opened
time: 691 ms

In [4]:
mg.del_catalog()

True

time: 9.07 ms

In [5]:
A = pd.read_csv('../magellan/datasets/table_A.csv')
B = pd.read_csv('../magellan/datasets/table_B.csv')

time: 451 ms

In [6]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 154 ms

In [7]:
mg.set_key(A, 'ID')
mg.set_key(B, 'ID')

time: 153 ms

In [8]:
mg.show_properties(A)

id: 140370706544336
key: ID
time: 98.5 ms

In [9]:
ab = mg.AttrEquivalenceBlocker()

time: 97.8 ms

In [10]:
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_prefix='ltable.', r_output_prefix='rtable.')

INFO - Required metadata: ltable key, rtable key
INFO - Getting metadata from the catalog
INFO - Validating left key: ID
INFO - ..... Done
INFO - Validating right key: ID
INFO - ..... Done
time: 97.4 ms

In [11]:
mg.show_properties(C)

id: 140370706545616
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 157 ms

In [12]:
import magellan.core.catalog as cg

time: 152 ms

In [13]:
cg.validate_metadata_for_table(A, 'ID', 'left', None, False)

time: 115 ms

In [14]:
cg.is_key_attribute(A, 'zipcode')

False

time: 140 ms

In [15]:
mg.show_properties_for_id(id(C))

id: 140370706545616
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 107 ms

In [16]:
ltable = mg.get_property(C, 'ltable')

time: 126 ms

In [17]:
l_df = ltable.set_index('ID', inplace=False, drop=False)

time: 103 ms

In [18]:
D = ab.block_candset(C, 'birth_year', 'birth_year', verbose=True, show_progress=False)

INFO - Required metadata: cand.set key, fk ltable, fk rtable, ltable, rtable, ltable key, rtable key
INFO - Getting metadata from the catalog
INFO - Validating cand.set key: _id
INFO - ..... Done
INFO - Validating foreign key constraint for left table
INFO - ..... Done
INFO - Validating foreign key constraint for right table
INFO - ..... Done
time: 99 ms

In [19]:
D

    _id ltable.ID rtable.ID
4     4        a3        b2
6     6        a2        b3
14   14        a5        b5

time: 145 ms

In [30]:
mg.show_properties(D)

id: 140370706199056
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 768 µs

In [31]:
mg.show_properties_for_id(id(D))

id: 140370706199056
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 898 µs

In [36]:
a = A.ix[1]

time: 1.02 ms

In [37]:
a.index

Index([u'ID', u'name', u'birth_year', u'hourly_wage', u'address', u'zipcode'], dtype='object')

time: 1.95 ms

In [33]:
list(A.columns).index('ID')

0

time: 1.52 ms

In [20]:
mg.get_install_path()

'/scratch/pradap/python-work/magellan/magellan'

time: 134 ms

In [21]:
xx = locals().copy()

time: 81.7 ms

In [22]:
m = {}
for k in xx.iterkeys():
    kk = id(xx[k])
    m[kk]=kk

time: 138 ms

In [23]:
m

{140370706199056: 140370706199056,
 140370706310312: 140370706310312,
 140370706450704: 140370706450704,
 140370706485632: 140370706485632,
 140370706486976: 140370706486976,
 140370706487456: 140370706487456,
 140370706487840: 140370706487840,
 140370706487888: 140370706487888,
 140370706487936: 140370706487936,
 140370706544336: 140370706544336,
 140370706545232: 140370706545232,
 140370706545616: 140370706545616,
 140370706546064: 140370706546064,
 140370706673952: 140370706673952,
 140370706674000: 140370706674000,
 140370706674384: 140370706674384,
 140370706674432: 140370706674432,
 140370706674528: 140370706674528,
 140370706674672: 140370706674672,
 140370706674720: 140370706674720,
 140370706674864: 140370706674864,
 140370706675056: 140370706675056,
 140370706675200: 140370706675200,
 140370706675680: 140370706675680,
 140371170738536: 140371170738536,
 140371181959440: 140371181959440,
 140371181978800: 140371181978800,
 140371182132760: 140371182132760,
 140371275979088: 140371275979088,
 140371275993528: 140371275993528,
 140371276085800: 140371276085800,
 140371318277688: 140371318277688,
 140371318731552: 140371318731552,
 140371369114880: 140371369114880,
 140371369142432: 140371369142432,
 140371369143296: 140371369143296,
 140371369143584: 140371369143584,
 140371377383712: 140371377383712,
 140371543245088: 140371543245088,
 140371543427848: 140371543427848,
 140371543428016: 140371543428016,
 140371547655184: 140371547655184,
 140371547655216: 140371547655216,
 140371547737296: 140371547737296}

time: 167 ms

In [24]:
s1 = set(mg.get_catalog().keys())
s2 = set(m.keys())

time: 114 ms

In [25]:
s1.difference(s2)

set()

time: 140 ms

In [26]:
s1

{140370706199056, 140370706450704, 140370706544336, 140370706545616}

time: 622 ms

In [27]:
clg = mg.get_catalog()

time: 59.6 ms

In [28]:
id(xx['A'])

140370706544336

time: 93.5 ms

In [29]:
for x in clg.iterkeys():
    mg.show_properties_for_id(x)
    print '----'

id: 140370706544336
key: ID
----
id: 140370706450704
key: ID
----
id: 140370706545616
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
----
id: 140370706199056
ltable(obj.id): 140370706544336
rtable(obj.id): 140370706450704
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
----
time: 102 ms