In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/magellan')

time: 1.37 ms

In [3]:
import magellan as mg

time: 342 ms

In [4]:
from magellan.blocker.attr_equiv_blocker import *
from magellan.utils.helperfunctions import *

time: 4.53 ms

In [5]:
A = mg.read_csv('../magellan/datasets/A.csv')

time: 5.29 ms

In [6]:
B = mg.read_csv('../magellan/datasets/table_B.csv', key='ID')

time: 3.88 ms

In [7]:
m = get_reqd_metdata_from_catalog(A, ['ltable'])

time: 2.14 ms

In [8]:
update_reqd_metadata_with_kwargs(m, {'ltabe':A, 'rtable':B}, ['ltable'])

{}

time: 11.5 ms

In [9]:
m.keys()

[]

time: 1.85 ms

In [10]:
is_all_reqd_metadata_present(m, ['key'])

False

time: 2.23 ms

In [11]:
get_diff_with_reqd_metadata(m, ['key'])

{'key'}

time: 2.33 ms

In [12]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 15.2 ms

In [13]:
B

,ID,name,birth_year,hourly_wage,address,zipcode
0,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107
1,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
2,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
3,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122
4,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122
5,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107

time: 17.5 ms

In [14]:
c = pd.merge(A, B, on='zipcode')

time: 4.33 ms

In [15]:
c['_id'] = range(0, len(c))

time: 1.44 ms

In [16]:
mg.set_key(c, '_id')

time: 1.82 ms

In [17]:
mg.set_metadata(c, 'ltable', A)
mg.set_metadata(c, 'rtable', B)
mg.set_metadata(c, 'foreign_key_ltable', 'ID_x')
mg.set_metadata(c, 'foreign_key_rtable', 'ID_y')

time: 2.6 ms

In [18]:
A1 = A[A['ID'].isin(pd.unique(c['ID_x']))]

time: 2.09 ms

In [19]:
x = is_key_attribute(A1, 'ID')

time: 1.47 ms

In [29]:
def is_key_attribute(df, key):
    # check if the length is > 0
    print key
    if len(df) > 0:
        # check for uniqueness
        uniq_flag = len(np.unique(df[key])) == len(df)
        print uniq_flag
        if not uniq_flag:
            return False, 1

        # check if there are missing or null values
        nan_flag = sum(df[key].isnull()) == 0
        print nan_flag
        if not nan_flag:
            return False, 2
        return (uniq_flag and nan_flag, 0)
    else:
        return True, 0

time: 6.48 ms

In [31]:
x = is_key_attribute(A1, 'ID')

ID
True
True
time: 1.42 ms

In [32]:
l = [1, 2, 3, 4]

time: 1.1 ms

In [34]:
print 'x = ' + str(l)

x = [1, 2, 3, 4]
time: 944 µs