In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/Users/pradap/Documents/Research/Python-Package/magellan/')

time: 955 Âµs

In [3]:
import magellan as mg
import pandas as pd

DEBUG:Cloud:Log file (/Users/pradap/.picloud/cloud.log) opened

time: 501 ms

In [4]:
mg.del_catalog()

True

time: 6.57 ms

In [5]:
A = pd.read_csv('../magellan/datasets/table_A.csv')
B = pd.read_csv('../magellan/datasets/table_B.csv')

time: 7.25 ms

In [6]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 19.7 ms

In [7]:
mg.set_key(A, 'ID')
mg.set_key(B, 'ID')

time: 2.55 ms

In [8]:
mg.show_properties(A)

id: 4396884944
key: ID
time: 2.05 ms

In [9]:
ab = mg.AttrEquivalenceBlocker()

time: 1.15 ms

In [10]:
C = ab.block_tables(A, B, 'zipcode', 'zipcode', ['birth_year', 'name'], ['birth_year', 'name'], 
                    'ltable.', 'rtable.')

magellan.blocker.attr_equiv_blocker - INFO - Required metadata: ltable key, rtable key
magellan.blocker.attr_equiv_blocker - INFO - Getting metadata from the catalog
magellan.blocker.attr_equiv_blocker - INFO - Validating left key: ID
magellan.blocker.attr_equiv_blocker - INFO - Validating right key: ID
time: 14.4 ms

In [11]:
mg.show_properties(C)

id: 4397343440
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 1.29 ms

In [12]:
import magellan.core.catalog as cg

time: 1.55 ms

In [13]:
cg.validate_metadata_for_table(A, 'ID', 'left', None, False)

time: 1.8 ms

In [14]:
cg.is_key_attribute(A, 'zipcode')

False

time: 2.64 ms

In [15]:
mg.show_properties_for_id(id(C))

id: 4397343440
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
time: 1.55 ms

In [16]:
ltable = mg.get_property(C, 'ltable')

time: 1.15 ms

In [17]:
l_df = ltable.set_index('ID', inplace=False, drop=False)

time: 1.98 ms

In [22]:
D = ab.block_candset(C, 'birth_year', 'birth_year', verbose=False, show_progress=False)

time: 8.43 ms

In [23]:
D

,_id,ltable.ID,rtable.ID,ltable.birth_year,ltable.name,rtable.birth_year,rtable.name
4,4,a3,b2,1986,William Bridge,1986,Bill Bridge
6,6,a2,b3,1988,Michael Franklin,1988,Mike Franklin
14,14,a5,b5,1984,Alphonse Kemper,1984,Alfons Kemper

time: 11.2 ms

In [19]:
mg.get_install_path()

'/Users/pradap/Documents/Research/Python-Package/magellan/magellan'

time: 2.65 ms

In [31]:
xx = locals().copy()

time: 1.1 ms

In [45]:
m = {}
for k in xx.iterkeys():
    kk = id(xx[k])
    m[kk]=kk

time: 2.62 ms

In [46]:
m

{4296462864: 4296462864,
 4296462896: 4296462896,
 4296543296: 4296543296,
 4297526024: 4297526024,
 4297526192: 4297526192,
 4297875600: 4297875600,
 4348946256: 4348946256,
 4348947120: 4348947120,
 4348947312: 4348947312,
 4350195792: 4350195792,
 4350210976: 4350210976,
 4350492976: 4350492976,
 4358756224: 4358756224,
 4358800280: 4358800280,
 4358825672: 4358825672,
 4359211000: 4359211000,
 4359217304: 4359217304,
 4360311376: 4360311376,
 4360346672: 4360346672,
 4360353672: 4360353672,
 4360582880: 4360582880,
 4360695040: 4360695040,
 4360695264: 4360695264,
 4370243168: 4370243168,
 4370243552: 4370243552,
 4396769640: 4396769640,
 4396847728: 4396847728,
 4396848064: 4396848064,
 4396848352: 4396848352,
 4396848688: 4396848688,
 4396849552: 4396849552,
 4396849648: 4396849648,
 4396850176: 4396850176,
 4396850224: 4396850224,
 4396884944: 4396884944,
 4396885136: 4396885136,
 4396885904: 4396885904,
 4396886096: 4396886096,
 4396886352: 4396886352,
 4397044072: 4397044072,
 4397277520: 4397277520,
 4397277664: 4397277664,
 4397278384: 4397278384,
 4397278432: 4397278432,
 4397278576: 4397278576,
 4397278720: 4397278720,
 4397278816: 4397278816,
 4397279200: 4397279200,
 4397279536: 4397279536,
 4397279680: 4397279680,
 4397279728: 4397279728,
 4397279824: 4397279824,
 4397280352: 4397280352,
 4397343440: 4397343440,
 4397346768: 4397346768,
 4397420592: 4397420592,
 4397421984: 4397421984,
 4397422416: 4397422416,
 4397422944: 4397422944,
 4397423232: 4397423232,
 4398063408: 4398063408}

time: 7.35 ms

In [47]:
s1 = set(mg.get_catalog().keys())
s2 = set(m.keys())

time: 1.48 ms

In [50]:
s1.difference(s2)

{4397346000}

time: 2.36 ms

In [49]:
s1

{4396884944, 4396885136, 4396886352, 4397343440, 4397346000, 4397346768}

time: 2.14 ms

In [40]:
clg = mg.get_catalog()

time: 1.09 ms

In [44]:
id(xx['A'])

4396884944

time: 2.37 ms

In [53]:
for x in clg.iterkeys():
    mg.show_properties_for_id(x)
    print '----'

id: 4396885136
key: ID
----
id: 4397346768
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: ltable.ID
fk_ltable: ltable.ID
key: _id
----
id: 4397346000
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: ltable.ID
fk_ltable: ltable.ID
key: _id
----
id: 4396884944
key: ID
----
id: 4396886352
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: ltable.ID
fk_ltable: ltable.ID
key: _id
----
id: 4397343440
ltable(obj.id): 4396884944
rtable(obj.id): 4396885136
fk_rtable: rtable.ID
fk_ltable: ltable.ID
key: _id
----
time: 2.5 ms