In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/scratch/pradap/python-work/magellan')

time: 65.8 ms

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 992 ms

In [4]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.9 ms

In [5]:
def zip_function(ltuple, rtuple):
    if ltuple.zipcode == rtuple.zipcode:
        return False
    else:
        return True

time: 64.6 ms

In [6]:
bb = mg.BlackBoxBlocker()
bb.set_black_box_function(zip_function)

time: 94 ms

In [7]:
C = bb.block_tables(A, B, ['name', 'birth_year'], ['name', 'birth_year'])

0%                          100%
[##############################] | ETA[sec]: 0.000

time: 152 ms

Total time elapsed: 0.051 sec

In [8]:
C

,_id,ltable_ID,rtable_ID,ltable_name,ltable_birth_year,rtable_name,rtable_birth_year
0,0,a1,b1,Kevin Smith,1989,Mark Levene,1987
1,1,a1,b2,Kevin Smith,1989,Bill Bridge,1986
2,2,a1,b6,Kevin Smith,1989,Michael Brodie,1987
3,3,a2,b3,Michael Franklin,1988,Mike Franklin,1988
4,4,a2,b4,Michael Franklin,1988,Joseph Kuan,1982
5,5,a2,b5,Michael Franklin,1988,Alfons Kemper,1984
6,6,a3,b1,William Bridge,1986,Mark Levene,1987
7,7,a3,b2,William Bridge,1986,Bill Bridge,1986
8,8,a3,b6,William Bridge,1986,Michael Brodie,1987
9,9,a4,b3,Binto George,1987,Mike Franklin,1988
10,10,a4,b4,Binto George,1987,Joseph Kuan,1982
11,11,a4,b5,Binto George,1987,Alfons Kemper,1984
12,12,a5,b3,Alphonse Kemper,1984,Mike Franklin,1988
13,13,a5,b4,Alphonse Kemper,1984,Joseph Kuan,1982
14,14,a5,b5,Alphonse Kemper,1984,Alfons Kemper,1984

time: 89.8 ms

In [9]:
def birth_fn(ltuple, rtuple):
    if ltuple.birth_year == rtuple.birth_year:
        return False
    else:
        return True

time: 53.4 ms

In [10]:
bb.set_black_box_function(birth_fn)

time: 63.8 ms

In [11]:
D = bb.block_candset(C)

0%           100%
[###############] | ETA[sec]: 0.000

time: 82.1 ms

Total time elapsed: 0.009 sec

In [12]:
D

,_id,ltable_ID,rtable_ID,ltable_name,ltable_birth_year,rtable_name,rtable_birth_year
3,3,a2,b3,Michael Franklin,1988,Mike Franklin,1988
7,7,a3,b2,William Bridge,1986,Bill Bridge,1986
14,14,a5,b5,Alphonse Kemper,1984,Alfons Kemper,1984

time: 68.9 ms

In [ ]:
E