In [1]:
%load_ext autotime

In [2]:
import sys
sys.path.append('/scratch/pradap/python-work/magellan/')

time: 84.9 ms

In [3]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 586 ms

In [4]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 36.5 ms

In [10]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'zipcode', 'birth_year'], 
                    r_output_attrs=['name', 'zipcode', 'birth_year'])

time: 7.7 ms

In [11]:
D = ab.block_candset(C, 'birth_year', 'birth_year')

0%           100%
[###############] | ETA[sec]: 0.000

time: 17 ms

Total time elapsed: 0.013 sec

In [12]:
D

,_id,ltable_ID,rtable_ID,ltable_name,ltable_zipcode,ltable_birth_year,rtable_name,rtable_zipcode,rtable_birth_year
4,4,a3,b2,William Bridge,94107,1986,Bill Bridge,94107,1986
6,6,a2,b3,Michael Franklin,94122,1988,Mike Franklin,94122,1988
14,14,a5,b5,Alphonse Kemper,94122,1984,Alfons Kemper,94122,1984

time: 11.7 ms

In [16]:
ab.block_tuples(A.ix[1], B.ix[2], 'zipcode', 'zipcode')

False

time: 2.46 ms

In [19]:
ab.block_tuples(A.ix[1], B.ix[1], 'zipcode', 'zipcode')

True

time: 2.34 ms